<h4>Profile for: <%= current_user.location %></h4>
<%= image_tag current_user.image_url %>






<!-- id
cover
name
first_name
last_name
age_range
link
gender
locale
picture
timezone
updated_time
verified -->
