
  <div class="pagewrapper">

<% @users.each do |user| %>
Name: <%= user.name %>
Image: <%= image_tag user.image_url %>

<%end %>




</div>




<!-- id
cover
name
first_name
last_name
age_range
link
gender
locale
picture
timezone
updated_time
verified -->
